<h2>Change password</h2>
<p>Please, click <%= link "here", to: Routes.password_reset_url(VoltWeb.Endpoint, :edit, @user.password_reset_token), target: "_blank", id: "reset_password_url" %> to set a new password.</p>

<style>
    .container {
        max-width: 80rem;
    }
</style>